body {
    background-color: violet;
}

/* 
Propiedades de texto estan relacionadas con el estilo o formato del texto.

Permite controlar su apariencia, aliniación, espaciado, y decoración. 

Propiedades principales:
    -Color: define color de texto. Recibe diferentes valores: keywords, hexadecimal, rgb o rgba,hsl, transparent.

    -Font-family: Nos define la familia tipografica de texto. Reciben los nombres de las familias, si sn de dos palabras entre " ", y acepta más de dos valores separados por "," como fuentes de respaldo.

    -Font-size: Define el tamaño del texto. Acepta valores en px, em, rem, porcentaje, y por definido.
    
    -Font-style: define el estilo de fuent. Recibe los parametros: normal, itaalic y oblique.

    -Text-align: Define la aliniación del texto, con los parametros: left, right, center, justify,tart y end.

    -Text-decoration: Añade una linea transversal al texto. Recibe los valores; none, underline, overline, line-through.

    -Text-transform: Controla la capitalización del texto. Recibe el valor: uppercase, lowercase and capitalize.

    -Line-height: Controla el espacio entre las lineas de texto. Recibe valores en: px, %, em y rem, relativo al tamaño de la fuente.

    -Letter-spacing: Espacio entre letras, recibe valores en rem, em, px.

    -Word-spacing: Espacio entre letras, recibe el valor de rem, em, px.

    -Text shadow: sombra del texto. Recibe los valores en el siguiente orden: 
        1.offset x
        2.offset y
        3.blur
        4.color
    10px 10px 10px red -> derecha y abajo
    -10px -10px -10px red -> izquierda y arriba


*/

h1 {
    color: purple; /* keywords */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72 px;
    font-size: 100%; /* 16px=100% */
    font-size: xx-large;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase ;
    letter-spacing: normal;
    text-shadow: 10px 10px 5px blueviolet (255, 0, 0, 0, 822);
}   

p {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24 px;
    font-size: 100%;
    font-size: x-large;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1em;
    word-spacing: normal;
}

a {
    color: magenta;
    font-size: large;
    text-decoration: none;
}

